@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");

@import "tailwindcss";
@theme {
  --color-title: #e0e4f5;
  --color-body: #aab6d5;
  --color-primary: #5291ff;
  --color-primary-hover: #2465db;
  /* --color-secondary: #4a349c;
  --color-secondary-dark: #2f2163; */
  --color-black: #020618;
  --color-surface: #111420;
  --color-gray-border: #303446;
  /* --color-bg-dark: #222226;
  --color-gray-dark: #29292e;
  --color-gray-dark-hover: #43434c; */
}
@utility border-brand-gradient {
  border-image: linear-gradient(60deg, var(--color-primary), transparent) 1;
}
@utility bg-brand-gradient {
  background-image: linear-gradient(
    110deg,
    var(--color-primary),
    transparent
  );
}

body {
  background-color: var(--color-black);
  font-family: "Jura", sans-serif;
  min-height: 100vh;

  /* background-image: url("https://i.pinimg.com/736x/8c/45/c9/8c45c984350611b02f4f168c5146eb60.jpg"); */
  background: linear-gradient(
    120deg,
    #0d1117 0%,
    #161b22 25%,
    #1a2744 75%,
    #020618 100%
  );
  background-size: 300% 300%;
  animation: gradient 16s ease-in-out infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.button-primary {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 16px;

  text-align: center;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;

  border-style: solid;
  border-image: linear-gradient(160deg, var(--color-secondary), transparent) 1;

  transition-property: color, background-color, border-color;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-primary:hover {
  color: var(--color-primary-hover);
  background-color: color-mix(
    in srgb,
    var(--color-secondary-dark) 20%,
    transparent
  );
}

/* ---- Particles.css ---- */
.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}
